# idea
.idea/
*.iml
node_modules/
components/
bower_components/

#maven
[Tt]arget/

#eclipse
.setting/
.settings/
.project
.classpath
*/.factorypath

# Mac crap
.DS_Store

# log
logs/
machine-office-sys/src/main/java/com/phkj/machine/office/sys/Test/MD5Test.java
machine-office-sys/src/main/java/com/phkj/machine/office/sys/Test/HttpTest.java
machine-office-sys/src/main/java/com/phkj/machine/office/sys/Test/HttpPostUtil.java
